{% extends "base.html" %}
{% block content %}

<section>
  <menu>
    <ul class="menu-list">
      <li><a href="/customers" menu-text="CUSTOMERS">Customers</a></li>
      <li><a href="/customers/new" menu-text="ADD CUSTOMER">Add Customer</a></li>
      <li><a href="/treatments" menu-text="TREATMENTS">Treatments</a></li>
      <li><a href="/treatments/new" menu-text="ADD TREATMENT">Add Treatment</a></li>
      <li><a href="/appointments/new" menu-text="BOOK CUSTOMER APPOINTMENT">Book Customer Appointment</a></li>
      <li><a href="/appointments" menu-text="APPOINTMENTS BOOKED">Appointments Booked</a></li>
    </ul>
  </menu>
</section>

{% endblock %}